@import "styles/variables";

.list {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 48px 0;

  &__item {
    width: 50%;
    padding: 24px 32px;
    font-size: 24px;
    border-radius: 24px;
    box-shadow: 0 8px 20px 0 rgba(0, 82, 57, 0.15);

    &__btns {
      display: flex;
    }

    &--default {
      display: flex;
      justify-content: space-between;
    }

    &--edit {
      display: none;
    }

    &.is-edit {
      .list__item--edit {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .list__item--default {
        display: none;
      }
    }

    &.is-done {
      box-shadow: 0 8px 10px 0 rgba(0, 82, 57, 0.15);

      .list__item--default {
        text-decoration: line-through;
        color: $light---primary--100;
      }
    }
  }
}