@import "styles/variables";

.form {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  &__input {
    padding: 4px 8px;
    border: 1px solid $light---primary--800;
    border-radius: 12px;
  }
}